<launch>
    <!--serial communication between arduino and pc via usb /-->
    <node name="rosserial_traxster" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud" value="57600" />
    </node>

    <node name="OdometryPublisher" pkg="traxster_bringup" type="pub_odom.py" />
</launch>
